
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&family=Roboto:wght@300;400&family=Rubik:ital,wght@0,500;1,300;1,400&family=Ubuntu&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    overflow-x: hidden;
  font-family: Rubik;
}
nav{
   background:white ;
    padding: 5px 20px;
}
ul{
    list-style: none;
}
a{
 color:black;
 text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.menu li{
    color:black;
font-size: 16px;
padding:15px 5px;
}
.menu li a{
    display: block;
}
.logo a{
    font-size:20px;
}

/* mobile menu */
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.toggle{
    order:1;
}
.toggle.off{
    display: none;
}
.x img{
    cursor: pointer;
    position:relative;
    width: 100px ;
   display: none;
   top:0px; 
   right:-70px;
}
.x.on{
    display:block;
}
.item{
    width:100%;
    text-align: center;
    order: 2;
   display:none; 
}
.item.active{
    position:static;
    display: block;
}
.contain{
    position: absolute;
}





.toggle{
    cursor: pointer;

}
.bar{
    background: #999;
    display:inline-block;
    height: 2px;
    position: relative;
    width:18px;
}
.bar::before,.bar::after{
    background: #999;
    content: " ";
    display:inline-block;
    height: 2px;
    position: absolute;
    width:18px;
}
.bar::before{
    top:5px;
}
.bar::after{
    top:-5px;
}

.geonet{
    font-size: 18px;
    text-align: center;
    
}
.geonet h1{
    
    padding-top: 50px;
}
.geonet h2{
    padding-top: 10px;
}
.frontimage img{
  
    width:100%;
    left: 0;
    right: 20px;
    top:0;
    position: absolute;
    z-index: -1;
}








/* Desktop view */
@media all and (min-width:768px){
    .item{
        display: block;
        width: auto;
    }
    .toggle{
        display: none;
    }
    .menu li{
        padding:15px 10px;
    }
}

